body {
    margin: 0;
    overflow: hidden;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    width: 8em;
    height: 12em;
    font-family: "Yanone Kaffeesatz";
    color: rgb(200,200,100);
    background-color: rgb(60,60,40);
    background-size: 0.1em 0.1em;
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

#splash-screen {
    text-align: center;
    padding-top: 2.5em;
}

#splash-screen .continue {
    cursor: pointer;
    font-size: 0.75em;
}

.logo {
    font-family: Lobster;
    font-size: 1.5em;
    line-height: 0.9em;
    margin: 0;
    text-align: center;
    color: rgb(70,120,20);
    text-shadow: 0.03em 0.03em 0.06em rgb(255,255,0),
                 -0.03em -0.03em 0.06em rgb(255,255,0),
                 0.1em 0.15em 0.15em rgb(0,0,0);
}
